table, td {
  border: 4px solid white;
  border-collapse: collapse;
}

.roulette-number-td {
  color: white;
  min-width: 50px;
  min-height: 45px;

  padding: 0;
}

.roulette-number-button {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  
  border: 0;
  border-radius: 0;

  color: white;
  font-size: 36px;
}

.roulette-number-button--Red {
  background-color: red;
}

.roulette-number-button--Black {
  background-color: black;
}